<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
  <!-- jQuery CDN Link -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Techno 2023</title>
  
  <link href="Images/logo.png" rel="shortcut icon" type="image/png">
  <link rel="stylesheet" href="css/styles.css">
  <style>
   
  </style>
</head>
 
<body>
  <div class="container">
    <div class="form">
      <h1 style="text-align:center; color: crimson; ">Techno 2023</h1>
      <h2 style="text-align: center;">Register Your Team</h2>
      <form class="signUp" action="/form" method="post">
        <div class="formGroup">
          <input type="text" id="captian" placeholder="Name of Captain" name="cname"   autocomplete="off">
        </div>
        <div class="formGroup">
          <input type="text" name="cmobile" placeholder="Captain-Mobile No."  id="mobile"   autocomplete="off">
        </div>
        <div class="formGroup">
            <input type="text" id="p2" placeholder="Player 2 Name" name="p2name"autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p2mobile" placeholder="Player 2-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p3" placeholder="Player 3 Name" name="p3name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p3mobile" placeholder="Player 3-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          
          <div class="formGroup">
            <input type="text" id="p4" placeholder="Player 4 Name" name="p4name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p4mobile" placeholder="Player 4-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p5" placeholder="Player 5 Name" name="p5name" autocomplete="off"   >
          </div>
          <div class="formGroup">
            <input type="text" name="p5mobile" placeholder="Player 5-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p6" placeholder="Player 6 Name" name="p6name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p6mobile" placeholder="Player 6-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p7" placeholder="Player 7 Name" name="p7name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p7mobile" placeholder="Player 7-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p8" placeholder="Player 8 Name" name="p8name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p8mobile" placeholder="Player 8-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p9" placeholder="Player 9 Name" name="p9name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p9mobile" placeholder="Player 9-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p10" placeholder="Player 10 Name" name="p10name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p10mobile" placeholder="Player 10-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p11" placeholder="Player 11 Name" name="p11name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p11mobile" placeholder="Player 11-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p12" placeholder="Player 12 Name" name="p12name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p12mobile" placeholder="Player 12-Mobile No."  id="mobile"   autocomplete="off">
          </div>
          <div class="formGroup">
            <input type="text" id="p13" placeholder="Player 13 Name" name="p13name" autocomplete="off"  >
          </div>
          <div class="formGroup">
            <input type="text" name="p13mobile" placeholder="Player 13-Mobile No."  id="mobile"   autocomplete="off">
          </div>
        <div class="formGroup">
          <button type="submit" class="btn2">REGISTER</button>
        </div>
 
      </form>
        
      <!------ Login Form -------- -->
      
 
    </div>
  </div>
  
</body>
 
</html>